.search {
    width: 100%;
    height: 500px;
    background: radial-gradient(circle, #444857, #2c303a);
    .search-input {
        width: 100%;
        height: 50px;
        color: #4c4cf1;
        background: #252830;
        display: block;
        font-size: 14px;
        font-weight: 400;
        border: 0;
        border-radius: 50px;
    }
    input {
        color: white;
        background: none;
        &:focus {
            outline: none;
        }
    }
}


/* Search */

.recent-messages {
    color: #c8ccd0;
    .recent-messages-header {
        height: 70px;
        background: rgba(76, 76, 241, 0.05);
        border: 1px solid #2c303a;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
    .recent-messages-body {
        width: 100%;
        border-top: 0;
        h6 {
            font-weight: bold;
            margin-top: 0;
            margin-left: 0;
            margin-bottom: 0;
        }
    }
    img {
        width: 30px;
        height: 30px;
    }
    .col-12.recent-messages-body.d-flex.align-items-center {
        border: 1px solid #2c303a;
    }
}


/* recent messages */

.topics {
    color: #c8ccd0;
    margin-top: 25px;
    .topics-header {
        width: 100%;
        height: 70px;
        background: rgba(76, 76, 241, 0.05);
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
    .col-12.recent-messages-body.d-flex.align-items-center {
        border: 1px solid #2c303a;
    }
}


/* POST DETAİLS */

.post-details {
    color: #c8ccd0;
    .recent-messages-header {
        height: 70px;
        background: rgba(76, 76, 241, 0.05);
        border: 1px solid #2c303a;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        i {
            color: rgb(25, 135, 84);
        }
    }
    .post-details-body {
        width: 100%;
        border-top: 0;
        h6 {
            font-weight: bold;
            margin-top: 0;
            margin-left: 0;
            margin-bottom: 0;
        }
        i {
            padding: 5px;
        }
    }
    img {
        width: 45px;
        height: 45px;
        border-radius: 50px;
    }
    .col-12.post-details-body {
        border: 1px solid #2c303a;
    }
}

.pagination {
    .page-item {
        margin: 0 10px;
        .page-link {
            background-color: #161723;
            border-color: #2c303a;
            color: #2c303a;
            &.active {
                color: white;
                border-color: white;
            }
            &:hover {
                color: white;
                border-color: white;
            }
        }
    }
}


/* POST DETAİLS */

// user profile
.user-profile-header {
    height: 40vh;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(0, 212, 255, 1) 0%, rgba(76, 76, 241, 1) 25%, rgba(76, 76, 241, 1) 75%, rgba(0, 212, 255, 1) 100%);
    .user-profile-name {
        height: 100%;
        width: 100%;
        a {
            font-size: .8rem;
        }
        .active {
            color: rgb(184, 179, 179);
        }
        i {
            color: white;
            font-size: 8px;
            margin-top: 5px;
        }
    }
}

.user-profile-content {
    background-color: $light;
    height: 100%;
    .container {
        position: relative;
        top: -60px;
    }
    .user-profile {
        .profile-left {
            background-color: white;
            border-radius: 10px;
            text-align: center;
        }
        .profile-right {
            background-color: white;
            color: $dark;
            border-radius: 10px;
            height: 100%;
        }
        .user-profile-option {
            .user-profile-option-item {
                .btn {
                    color: $dark;
                    font-weight: 500;
                    font-size: 1rem;
                    transition: all .5s;
                    border: 1px solid transparent;
                    display: block;
                    text-align: left;
                    border-radius: 50px;
                    &.active {
                        background-color: #4c4cf1;
                        color: white;
                    }
                    &:hover {
                        background-color: #4c4cf1;
                        color: white;
                    }
                }
            }
        }
        .social {
            margin-top: 93px;
            a {
                color: $dark;
            }
            .fab {
                border: 1px solid transparent;
                width: 35px;
                height: 35px;
                text-align: center;
                line-height: 35px;
                background-color: $light;
                transition: all .5s;
                &:hover {
                    background-color: #4c4cf1;
                    color: white;
                    cursor: pointer;
                    border-color: #4c4cf1;
                }
            }
        }
    }
}

// user profile dark mode
.user-profile-header.dark-mode {
    height: 40vh;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgb(44, 48, 58) 0%, rgb(22, 23, 35) 25%, rgb(22, 23, 35) 75%, rgb(44, 48, 58) 100%);
    .user-profile-name {
        height: 100%;
        width: 100%;
        a {
            font-size: .8rem;
        }
        .active {
            color: rgb(184, 179, 179);
        }
        i {
            color: white;
            font-size: 8px;
            margin-top: 5px;
        }
    }
}

.user-profile-content.dark-mode {
    background-color: #161723;
    height: 100%;
    .user-profile {
        .profile-left {
            background-color: #2c303a;
            border-radius: 10px;
            text-align: center;
        }
        .profile-right {
            background-color: #2c303a !important;
            color: white;
            border-radius: 10px;
        }
        .user-profile-option {
            .user-profile-option-item {
                .btn {
                    color: white;
                    font-weight: 500;
                    font-size: 1rem;
                    transition: all .5s;
                    border: 1px solid white;
                    display: block;
                    text-align: left;
                    border-radius: 50px;
                    &.active {
                        background-color: white !important;
                        color: $dark !important;
                    }
                    &:hover {
                        background-color: white;
                        color: $dark;
                    }
                }
            }
        }
        .social {
            a {
                color: $dark;
            }
            .fab {
                border: 1px solid transparent;
                width: 35px;
                height: 35px;
                text-align: center;
                line-height: 35px;
                background-color: $light;
                transition: all .5s;
                &:hover {
                    background-color: #161723;
                    color: white;
                    cursor: pointer;
                    border-color: white;
                }
            }
        }
    }
}

// user profile dark mode
// user profile


/* Contact us */
.contact-us{
    label{
        color: white;
        padding: 5px;
        font-weight: bolder;
    }
    .btn{
        color: #fff;
        background: #4c4cf1;
        font-size: 16px;
        font-weight: bolder;
        padding: 15px 40px;
        border-radius: 4px;
    }
}
/* Contact us */
// Form Page Register and Login


#login-form-page{
    position: relative;
    background-position: center;
    background-size: cover;
    height: 100vh;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, rgb(44, 48, 58) 0%, rgb(22, 23, 35) 25%, rgb(22, 23, 35) 75%, rgb(44, 48, 58) 100%);
        // z-index: -1;
    }
    .form-page{
        position: relative;
        box-shadow: rgba(255, 255, 255, 0.3) 0px 1px 2px 0px, rgba(255, 255, 255, 0.3) 0px 2px 6px 2px; 
        z-index: 5;
        .form-page-left{
            background-color: rgb(45, 46, 126);
            border-right: 4px solid $white;
            border-bottom: 4px solid $white;
            position: relative;
            color: $white;
            height: 110%;
            width: 110%;
            .form-page-texts{
                width:95%;
                height: 100%;
            }
            .form-page-text{
               z-index: 5;
               font-size: 15px;
                & a{
                    color: $white;
                    border: 2px solid $white;
                    transition: all .5;
                    font-weight: bold;
                    transition: all .5s;
                    &:hover{
                       color: $purple;
                       background-color: $white;
                       border: 2px solid $purple;
                    }
                }
            }
        } 
        .form-page-right{
            form.register-form-page{
                width: 100%;
                height: 400px;
                ul{
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                li{
                    display: flex;
                }
                }
            }
            & .forgotten-password{
                color: #0d6efd;
            }
            
        }
        .form-page-items{
            ul{
                li{
                    display: flex;
                    margin-bottom: 25px;
                }
            }
        }   
    }
}

#form-page{
    position: relative;
    background-position: center;
    background-size: cover;
    height: 100vh;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(90deg, rgb(44, 48, 58) 0%, rgb(22, 23, 35) 25%, rgb(22, 23, 35) 75%, rgb(44, 48, 58) 100%);
        // z-index: -1;
    }
    .form-page{
        position: relative;
        box-shadow: rgba(255, 255, 255, 0.3) 0px 1px 2px 0px, rgba(255, 255, 255, 0.3) 0px 2px 6px 2px; 
        z-index: 5;
        .form-page-left{
            background-color: rgb(45, 46, 126);
            border-right: 4px solid $white;
            border-bottom: 4px solid $white;
            position: relative;
            color: $white;
            height: 110%;
            width: 110%;
            .form-page-texts{
                width:95%;
                height: 100%;
            }
            .form-page-text{
               z-index: 5;
               font-size: 15px;
                & a{
                    color: $white;
                    border: 2px solid $white;
                    transition: all .5;
                    font-weight: bold;
                    transition: all .5s;
                    &:hover{
                       color: $purple;
                       background-color: $white;
                       border: 2px solid $purple;
                    }
                }
            }
        } 
        .form-page-right{
            form.register-form-page{
                width: 100%;
                height: 400px;
                ul{
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                li{
                    display: flex;
                }
                }
            }
            
        }
        .form-page-items{
            & .forgotten-password{
                text-align: end;
                a{
                    position: relative;
                    color: $white;
                    padding-bottom: 2px;
                    transition: all .5s;
                    &::after{
                        content: "";
                        position: absolute;
                        bottom: -.3rem;
                        left: 0;
                        right: 0;
                        margin:auto;
                        width: 0;
                        height: 1px;
                        background-color: $white;
                        transition: all .5s;
                    }
                    &:hover{
                        &::after{
                            width: 100%;
                        }
                    }
                }
            }
        }
      
    }
}

#login-successful{
    display: none;
}
#login-failed{
    display: none;
}