.search {
    width: 100%;
    height: 500px;
    background: radial-gradient(circle, #444857, #2c303a);
    .search-input {
        width: 100%;
        height: 50px;
        color: #4c4cf1;
        background: #252830;
        display: block;
        font-size: 14px;
        font-weight: 400;
        border: 0;
        border-radius: 50px;
    }
    input {
        color: white;
        background: none;
        &:focus {
            outline: none;
        }
    }
}


/* Search */

.recent-messages {
    color: #c8ccd0;
    .recent-messages-header {
        height: 70px;
        background: rgba(76, 76, 241, 0.05);
        border: 1px solid #2c303a;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
    .recent-messages-body {
        width: 100%;
        border-top: 0;
        h6 {
            font-weight: bold;
            margin-top: 0;
            margin-left: 0;
            margin-bottom: 0;
        }
    }
    img {
        width: 30px;
        height: 30px;
    }
    .col-12.recent-messages-body.d-flex.align-items-center {
        border: 1px solid #2c303a;
    }
}


/* recent messages */

.topics {
    color: #c8ccd0;
    margin-top: 25px;
    .topics-header {
        width: 100%;
        height: 70px;
        background: rgba(76, 76, 241, 0.05);
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
    .col-12.recent-messages-body.d-flex.align-items-center {
        border: 1px solid #2c303a;
    }
}


/* POST DETAİLS */

.post-details {
    color: #c8ccd0;
    .recent-messages-header {
        height: 70px;
        background: rgba(76, 76, 241, 0.05);
        border: 1px solid #2c303a;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        i {
            color: rgb(25, 135, 84);
        }
    }
    .post-details-body {
        width: 100%;
        border-top: 0;
        h6 {
            font-weight: bold;
            margin-top: 0;
            margin-left: 0;
            margin-bottom: 0;
        }
        i {
            padding: 5px;
        }
    }
    img {
        width: 45px;
        height: 45px;
        border-radius: 50px;
    }
    .col-12.post-details-body {
        border: 1px solid #2c303a;
    }
}

.pagination {
    .page-item {
        margin: 0 10px;
        .page-link {
            background-color: #161723;
            border-color: #2c303a;
            color: #2c303a;
            &.active {
                color: white;
                border-color: white;
            }
            &:hover {
                color: white;
                border-color: white;
            }
        }
    }
}


/* POST DETAİLS */