//Colors
$gray:#C8CCD0;
$purple:#4c4cf1;
$dark-gray: #6b707f;
$light:#f2f2f7;
$dark:#333;
// Spacing
$space0: 0;
$space1: 5px;
$space2: 10px;
$space3: 15px;
$space4: 20px;
$space5: 25px;
$space6: 30px;
$space7: 40px;
$space8: 50px;
$space9: 60px;
$space90: 90px;
$space100: 100px;
$space-s-e: 40px; // "start + end" total padding